* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: "Bellefair", sans-serif;
}

body {
	background: linear-gradient(135deg, #8d0000 0%, rgb(221, 0, 0) 100%);
	color: #000000;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #ffd700;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	text-align: center;
}

button {
	cursor: pointer;
	transition: transform 0.2s;
}

button:hover {
	transform: scale(1.05);
}